* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    width: 100%;
    align-items: center;
    padding: 0 2rem;
    height: 10dvh;
}

.navbar-color {
    background-color: aqua !important;
}

table {
    width: 100%;
    text-align: center;
    background-color: black;
}

table tr {
    background-color: white;
}

.container-order, .container-number-order, .container-status-order {
    width: 33.33%;
    padding: 0 2rem;
}

#tarjet-complement {
    width: 100%;
}

#tarjet-complement .container-order,
#tarjet-complement .container-number-order,
#tarjet-complement .container-status-order {
    text-align: left;
    padding-top: 3%;
    padding-bottom: 3%;
}

.button-change-status-prep, .button-change-status-read, .button-change-status-done{
    padding: 0.5rem;
    text-align: center;
    margin: 0.5rem;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

/*El hover*/
.button-change-status-prep:hover, .button-change-status-read:hover, .button-change-status-done:hover {
    opacity: 0.8;
}

.button-change-status-prep {
    background-color: orange;
    border: 1px solid #f5f5f5;
}

.button-change-status-read {
    background-color: green;
    border: 1px solid #f5f5f5;
}

.button-change-status-done {
    background-color: blue;
    border: 1px solid #f5f5f5;
}